body{
    max-width: 90%;
    
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-size-adjust: 16px;
    color: #333;
    line-height: 1.5;

}
a{
    color: #007bff; 
    text-decoration: none; 
    transition: color 0.3s; 
}
a:visited {
    color: #bd3e88; 
}

a:hover {
    color: #6b0248; 
    text-decoration: underline; 
}